[user]
	name = JGAntunes
	email = me@jgantunes.com
[core]
	editor = vim
[push]
	default = simple
[gpg]
  program = gpg2

# Legacy ~/Documents structure
[includeIf "gitdir:~/Documents/github/"]
  path = .github.gitconfig

[includeIf "gitdir:~/Documents/kf/"]
  path = .kf.gitconfig

[includeIf "gitdir:~/Documents/yld/"]
  path = .yld.gitconfig

######

[includeIf "gitdir:~/workspace/github/"]
  path = .github.gitconfig

[includeIf "gitdir:~/workspace/yld/"]
  path = .yld.gitconfig

[includeIf "gitdir:~/workspace/kf/"]
  path = .kf.gitconfig

[includeIf "gitdir:~/workspace/shl/"]
  path = .shl.gitconfig

[includeIf "gitdir:~/workspace/conde/"]
  path = .conde.gitconfig
# NPM needs to clone into tmp dirs
[credential "https://gitlab.kfplc.com"]
	helper = cache

# aliases
[alias]
  stash-untracked = "!f() {    \
    git stash;               \
    git stash -u;            \
    git stash pop stash@{1}; \
  }; f"
